RewriteEngine On
RewriteBase /jachigorras/Mi%20Proyecto/

# Allow direct access to existing files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Route everything else to index.php
RewriteRule ^(.*)$ views/home/index.php [QSA,L]