RewriteEngine On
RewriteBase /jachigorras/Mi%20Proyecto/

# Permitir acceso directo a archivos estáticos
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir todo al index.php en public
RewriteRule ^(.*)$ public/php/index.php [QSA,L]

# Permitir acceso directo a archivos PHP en /views
RewriteCond %{REQUEST_URI} !^/views/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]